<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>CLEVER</h1>

            <app-login-form
                    (submitCredentials)="auth($event)"
                    [loading]="loading"></app-login-form>

            <span *ngIf="globalErrorMsg" class="text-danger">{{ globalErrorMsg }}</span>
        </div>
    </div>
</div>
