<div [@routerTransition]>
<app-page-header [heading]="'Администрирование'"></app-page-header>

  <div class="col-md-12">
    <a class="btn btn-link btn-sm text-primary h6 mb-3" >
      <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Назад</span>
    </a>

    <div class="dropdown pull-right" ngbDropdown>
      <button class="btn btn-primary btn-sm text-light h6" ngbDropdownToggle>
        <span class="h6"><i class="fa fa-plus"></i> Добавить <b class="caret"></b></span>
      </button>

      <div class="dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" (click)="newModal(addNewUser)">
          <span class="h6"> Пользователя</span>
        </a>
        <a class="dropdown-item" (click)="newModal(addNewRole)">
          <span class="h6"> Роль</span>
        </a>

      </div>
    </div>

  </div>


  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item" (click)="selectedTab = tabs[0]">
      <a class="nav-link active"
         [ngClass]="{'active' : selectedTab === tabs[0]}"
         data-toggle="tab"  >Пользователи</a>
    </li>

    <li class="nav-item">
      <a  class="nav-link"
          [ngClass]="{'active' : selectedTab === tabs[1]}"
          data-toggle="tab" (click)="selectedTab = tabs[1]" >Роли</a>
    </li>

    <li class="nav-item">
      <a  class="nav-link"
          [ngClass]="{'active' : selectedTab === tabs[2]}"
          data-toggle="tab" (click)="selectedTab = tabs[2]" >Журнал действий</a>
    </li>
  </ul>

  <br>

  <div class="tab-content">
    <div *ngIf=" selectedTab === tabs[0]" class="container tab-pane active">
      <app-info [users]="users"></app-info>
    </div>

    <div *ngIf=" selectedTab === tabs[1]" class="container tab-pane active">
      <app-roles [roles]="roles"></app-roles>
    </div>

    <div  *ngIf="selectedTab === tabs[2]"  class="container tab-pane active">
      <app-actions></app-actions>
    </div>
  </div>

  <ng-template #addNewRole let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Новая роль</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--  For displaying Input String  -->
      <div class="form-group row">
        <label class="col-4 col-form-label" >Уникальный код:</label>
        <div class="col-8">
          <input class="form-control" placeholder="Уникальный код" name="code" [(ngModel)]="role.code" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Название:</label>
        <div class="col-8">
          <input class="form-control" placeholder="Название" name="name" [(ngModel)]="role.name" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="c('Close click')">Отмена</button>
      <button class="btn btn-primary" (click)="addNewRoleData()">Добавить</button>
    </div>
  </ng-template>


  <ng-template #addNewUser let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Новый пользователь</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div >
        <!--  For displaying Input String  -->

        <div class="form-group row">
          <label class="col-4 col-form-label">Логин:</label>
          <div class="col-8">
            <input class="form-control" placeholder="Логин" name="username" [(ngModel)]="user.username"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Пароль:</label>
          <div class="col-8">
            <input class="form-control" placeholder="Пароль" name="password" [(ngModel)]="user.password"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Имя:</label>
          <div class="col-8">
            <input class="form-control" placeholder="Имя" name="firstname" [(ngModel)]="user.firstname"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Фамилия:</label>
          <div class="col-8">
            <input class="form-control" placeholder="Фамилия" name="lastname" [(ngModel)]="user.lastname"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Отчество:</label>
          <div class="col-8">
            <input class="form-control" placeholder="Отчество" name="middlename" [(ngModel)]="user.middlename"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Роль:</label>
          <div class="col-8">
            <select class="form-control" name="role" [(ngModel)]="user.role.id">
              <option *ngFor="let r of roles" [value]="r.id">{{r.name}}</option>
            </select>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="c('Close click')">Отмена</button>
      <button class="btn btn-primary" (click)="addNewUserData()">Добавить</button>
    </div>
  </ng-template>




</div>



