<nav class="sidebar" [ngClass]="{sidebarPushRight: false}">
    <div class="list-group">
        <a *ngIf="loggedInUserRole === 'ROLE_NATURE_USER'" routerLink="/enterprises" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-building-o"></i>
            <span class="sidebar-link-text">Мои предприятия</span>
        </a>

        <a routerLink="/catalogs" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-book"></i>
            <span class="sidebar-link-text">Справочники</span>
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-fw fa-calculator"></i>
                <span>Расчеты</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <!--<li>-->
                        <!--<a routerLink="/calculations">-->
                            <!--<span class="sidebar-link-text">Сжигание топлива.</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a routerLink="/calculations">
                            <span class="sidebar-link-text">Траспорт и переработка угля.</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a *ngIf="loggedInUserRole === 'ROLE_ADMIN'" routerLink="/users" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>
            <span class="sidebar-link-text">Пользователи</span>
        </a>
    </div>


    <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
                <i class="fa fa-fw fa-angle-left"></i>
            </a>
        </li>
    </ul>
</nav>
