<form role="form" (ngSubmit)="onSubmit()">
  <div class="form-content">
    <div class="form-group">
      <input
      [(ngModel)]="user.username"
      [ngClass]="{ 'input-is-invalid': error.username }"
       name="username"
       type="text"
       class="form-control input-underline input-lg"
       placeholder="Имя пользователя" required>
      <small *ngIf="error.username" class="form-error">{{ error.username }}</small>
    </div>

    <div class="form-group">
      <input
      [(ngModel)]="user.password"
      [ngClass]="{ 'input-is-invalid': error.password }"
      name="password"
      type="password"
      class="form-control input-underline input-lg"
      placeholder="Пароль" required>
      <small *ngIf="error.password" class="form-error">{{ error.password }}</small>
    </div>
  </div>
  <button type="submit" class="btn rounded-btn">
    {{ !loading ? 'Войти' : '' }}
    <loader-light *ngIf="loading"></loader-light>
  </button>


</form>