<div [@routerTransition]>
  <app-loader-dark-material *ngIf="loading" ></app-loader-dark-material>
  <div class="container">
      <table class="table table-bordered table-hover w-100" id="dataTableInfo">
        <thead>
        <tr>
          <th class="w-14" >#</th>
          <th class="w-14" >ФИО</th>
          <th class="w-14" >Логин</th>
          <th class="w-14" >Роль</th>
          <th class="w-14" >Инфо</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let u of users let i=index">
          <td>{{i+1}}</td>
          <td>{{u.lastname + " " + u.firstname + " " + u.middlename }}</td>
          <td>{{u.username}}</td>
          <td>{{u.role.name}}</td>
          <td>01.01.2019 18:19 </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
