<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" routerLink="/">Clever Admin</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
            <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                <i class="fa fa-user"></i> Profile <b class="caret"></b>
            </a>
            <div class="dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="fa fa-fw fa-cog"></i> Settings
                </a>
                <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">
                    <i class="fa fa-fw fa-power-off"></i> Log Out
                </a>
            </div>
        </li>
      </ul>
    </div>
</nav>
