<div [@routerTransition]>
  <app-loader-dark-material *ngIf="loading" ></app-loader-dark-material>
  <div class="container">
    <table class="table table-bordered table-hover w-100" id="dataTableRoles">
      <thead>
      <tr>
        <th class="w-14" >#</th>
        <th class="w-14" >Уникальный код</th>
        <th class="w-14" >Название</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let r of roles let i= index">
        <td>{{i+1}}</td>
        <td>{{r.code}}</td>
        <td>{{r.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
