<!--editing-->
<div *ngIf="currItemId === editItemId" [ngSwitch]="selector">
  <div *ngSwitchCase="SELECTOR_INPUT">
    <input [(ngModel)]="editable"
           (keyup)="onEditableChange()"
           [type]="type"
           class="form-control">
  </div>
  <div *ngSwitchCase="SELECTOR_SELECT">
    <select [(ngModel)]="editable"
            (change)="onEditableChange()"
            class="form-control">
      <option *ngFor="let choice of choicesList"
              [value]="choice[choicePropId]"
              [innerHTML]="(choiceOptionCode ? choice[choiceOptionCode] + ' - '  : '') + choice[choicePropName]">
        {{choice[choicePropName]}} {{choiceExtraPropName ? '- ' + choiceExtraPropName : ''}}
      </option>
    </select>
  </div>
</div>

<!--displaying-->
<span  *ngIf="currItemId !== editItemId" [innerHTML]="displayable"></span>