<div [@routerTransition]>
  <app-page-header [heading]="'Dashboard'"></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <success-message [message]="'Eco app successfully bootstrapped'"></success-message>
    </div>
  </div>

</div>
